<h1>Dragon Ball Page</h1>
<hr>

<section class="row">
  <div class="col-12 col-sm-6">
    <h3>Agregar:</h3>
    <input type="text" class="form-control" placeholder="Nombre"/>
    <input type="number" class="form-control mt-2" placeholder="Poder">

    <button type="submit" class="mt-2 btn btn-success"> Agregar </button>
  </div>

  <div class="col-12 col-sm-6 row">
    <h3>Listado de PJ</h3>
    <ol>
      <li>PJ 1</li>
      <li>PJ 2</li>
      <li>PJ 3</li>
      <li>PJ 4</li>
      <li>PJ 5</li>
      <li>PJ 6</li>
    </ol>
  </div>
</section>
