<h1>{{ heroName() }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ heroName() }}</dd>

  <td>Edad:</td>
  <dd>{{ heroAge() }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <!-- ! Intentar  -->
   <dd> {{ toUpper(heroName()) }} </dd>
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button (click)="changeAge()" class="btn btn-primary">Cambiar edad</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>
